* {
	font-family: Arial;
	color: #666666;
}

/* HEADINGS **************************************************************************************/
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #2B5873;
}
h1 {
	border-bottom: 1px solid #2B6873;
}
h1 span {
	color: #2B5873;
}
h1 a {
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-weight: normal;
	height: 49px;
}
h1 .dropdown-menu a {
    height: auto;
}

/* STYLES ****************************************************************************************/
a {
	color: #2B5873;
}
a:hover {
	background-color: #2B578333;
}

@media (min-width: 992px) {
	.row-cols-lg-10 > * {
		flex: 0 0 auto;
		width: 10%;
	}
}

.btn-outline-dark {
	border-color: #2b5873;
	color: #2b5873;
}
.btn-outline-dark:hover {
	background-color: #2b587333;
	color: #2b5873;
	border-color: #2b5873;
}

/* ALERTS ****************************************************************************************/
.alert-info {
    background-color: #2b587317;
    border-color: #2b5873;
    color: #2b5873;
}
.alert-info strong {
    color: #2b5873;
}
.alert-danger {
    border-color: #58151C;
}