* {
	font-family: Arial;
	color: black;
}

/* HEADINGS **************************************************************************************/
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #2B5873;
}
h1 {
	border-bottom: 1px solid #2B6873;
}
h1 span {
	color: #2B5873;
}
h1 span.eml {
    display: block;
    font-size: 0.9rem;
    font-weight: normal;
}
h1 a {
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-weight: normal;
	height: 49px;
}
h1 .dropdown-menu a {
    height: auto;
}

/* STYLES ****************************************************************************************/
a {
	color: #2B5873;
}
a:hover {
	background-color: #2B578333;
}
strong {
    color: #2b5873;
}
li:not(.nav-item) {
    padding-bottom: 5px;
    padding-top: 5px;
}

@media (min-width: 992px) {
	.row-cols-lg-10 > * {
		flex: 0 0 auto;
		width: 10%;
	}
}

.btn-outline-dark {
	border-color: #2b5873;
	color: #2b5873;
}
.btn-outline-dark:hover {
	background-color: #2b587333;
	color: #2b5873;
	border-color: #2b5873;
}
.btn.disabled {
    opacity: 0.3;
}

/* ALERTS ****************************************************************************************/
.alert-info {
    background-color: #2b587317;
    border-color: #2b5873;
    color: #2b5873;
}
.alert-info strong {
    color: #2b5873;
}
.alert-danger {
    border-color: #58151C;
}

/* TABS ******************************************************************************************/
.eml-tablist .nav-item button {
    color: #2b5873;
    min-width: 150px;
}

.eml-tablist.nav-tabs,
.eml-tablist.nav-tabs .nav-link.active,
.eml-tablist.nav-tabs .nav-link:focus,
.eml-tablist.nav-tabs .nav-link:hover {
    border-color: #2b5873;
}

.eml-tablist.nav-tabs .nav-link.active{
    border-bottom-color: white;
}

/* WINNERS TABLE - CLUBS *************************************************************************/
table.winners--table thead tr th {
    border-bottom: 3px solid #2b5873;
    color: #2b5873;
}
table.winners--table tbody tr td {
    padding: 10px 0;
    vertical-align: middle;
}
table.winners--table tbody tr td:nth-of-type(1),
table.winners--table tbody tr td:nth-of-type(3){
    width: 50px;
}
table.winners--table tbody tr td:nth-of-type(2) {
    width: 75px;
}
table.winners--table tbody tr td:nth-of-type(4) {
    width: 755px;
}
table.winners--table tbody tr th {
	vertical-align: middle;
    width: calc( 100% - 50px - 75px - 50px - 755px );
}
table.winners--table tbody tr td:nth-of-type(1) {
    font-size: 0.7rem;
    text-align: center;
}
table.winners--table tbody tr td img {
    height: 25px;
}
table.winners--table tbody tr td img:not(.first-of-type) {
    margin-left: 10px;
}
table.winners--table tbody tr th a {
    display: block;
    padding: 6px;
    text-decoration: none;
}
table.winners--table tbody tr td a {
    padding: 6px;
    text-decoration: none;
}
table.winners--table#winners--country tbody tr td a {
    display: inline-block;
}
table.winners--table#winners--country tbody tr td:last-child {
    padding: 0;
}

/* COUNTRY and TEAM LISTS ************************************************************************/
.country-list .btn,
.team-list .btn {
    line-height: 25px;
}
.country-list .btn img:nth-of-type(1),
.team-list .btn img:nth-of-type(1) {
    height: 25px;
    float: left;
}
.country-list .btn img:nth-of-type(2),
.team-list .btn img:nth-of-type(2) {
    height: 15px;
    float: right;
    position: relative;
    top: 4px;
}

/* SEASON DIVISION BUTTONS ***********************************************************************/
@media (min-width: 576px) {
    .row-cols-sm-8 > * {
        flex: 0 0 auto;
        width: 12.5%;
    }
}
#divisions button,
#divisions button * {
    color: #2b5873;
}
#divisions button.active,
#divisions button.active * {
    color: white;
}
.btn-outline-dark.active {
    background: #2b5873;
    border-color: #2b5873;
}

/* DIVISION TABLES *******************************************************************************/
#divisionsTables thead th:nth-of-type(3) { text-align: left; }
#divisionsTables thead th { text-align: center; }
#divisionsTables tbody td { width: 50px; text-align: center; font-size: 0.9rem; }
#divisionsTables tbody td:nth-of-type(1) { font-size: 0.6rem; vertical-align: middle; }
#divisionsTables tbody td:nth-of-type(2) img { height: 20px; }
#divisionsTables tbody tr.is-domestic_champion > * { background-color: #ffffe0; }
#divisionsTables tbody tr.is-removed > * { background-color: #fd9292; }
#divisionsTables tbody tr.is-promoted > * { background-color: #b5e9b5; }
#divisionsTables tbody tr.is-relegated > * { background-color: #ffc9c9; }
#divisionsTables tbody th img { height: 16px; float: right; position: relative; top: 3px; right: 5px; margin-left: 5px; cursor: help; width: 16px; }
#divisionsTables tbody th { font-weight: normal; }
#divisionsTables tbody tr th a { font-weight: bold; text-decoration: none; }
#divisionsTables tbody th a { display: inline-block; width: 75%; }
#divisionsTables thead tr th:nth-child(n+4):nth-child(-n+15),
#divisionsTables tbody tr td:nth-child(n+4):nth-child(-n+15){ display: none; }
@media (min-width: 576px) {
    #divisionsTables thead tr th:nth-child(3),
    #divisionsTables tbody tr th { display: table-cell !important; }
}
@media (min-width: 768px) {
    #divisionsTables thead tr th:nth-child(n+4):nth-child(-n+10),
    #divisionsTables tbody tr td:nth-child(n+4):nth-child(-n+10) { display: table-cell; }
}
@media (min-width: 992px) {
    #divisionsTables thead tr th:nth-child(n+4):nth-child(-n+15),
    #divisionsTables tbody tr td:nth-child(n+4):nth-child(-n+15) { display: table-cell !important; }
}
@media (min-width: 1200px) {
    #divisionsTables thead tr th:nth-child(3),
    #divisionsTables tbody tr th { display: table-cell !important; }
}